/* Common styles for both desktop and mobile */
/* import font dari google font */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

/* Common styling for body and header */
body {
    color: #112a3b;
    font-family: 'Dosis', Verdana;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #eff3f5;
}

/* untuk screen tablet (kurang dari 768px) */
@media only screen and (max-width: 768px) {
    
    /* .nav-bar a, button {
        display: none;
    }

    h2 {
        display: none;
    }
    .frontpage {
        width: 100%;
    }
    aside {
        display: inline-block;
    } */
    .checkbtn {
        display: block;
    }
    
    .nav-bar {
        width: 100%;
        display: block;
        align-items: center;
        text-align: center;
        height: 40vh;
        background: #eff3f5;
        top: -100%;
        transition: all .5s;
    }

    .nav-bar a {
        font-size: 18px;
    }

    .nav-bar a::after,
    .nav-bar a:hover::after {
        background: none;
    }

    .logoweb {
        display: none;
    }
    
    #check:checked ~ nav-bar {
        top: 0;
    }
     
}

/* untuk screen desktop (lebih dari 800px) */
@media only screen and (min-width: 800px) {
    .nav-bar a {
        display: flex;
    }
}
