/* Common styles for both desktop and mobile */
/* import font dari google font */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

/* Common styling for body and header */
body {
    color: #112a3b;
    font-family: 'Dosis', Verdana;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #eff3f5;
}

/* untuk screen tablet (kurang dari 768px) */
@media only screen and (max-width: 668px) {
    
    /* .nav-bar a, button {
        display: none;
    }

    h2 {
        display: none;
    }
    .frontpage {
        width: 100%;
    }
    aside {
        display: inline-block;
    } */

    .logo {
        display: none;
    }
    .logoweb {
        justify-content: flex-start;
    }

    .logoweb h2 {
        display: block;
        font-size: 18px;
    }
    .checkbtn {
        display: block;
        font-size: 18px;
    }
    
    .nav-bar a, .btnLogin-popup{
        width: 100%;
        display: none;
        align-items: center;
        text-align: center;
        height: 62vh;
        background: #eff3f5;
        top: -100%;
        transition: all .5s;
        font-size: 16px;
        overflow: hidden;
        
        /* arah transform dan waktu transisi */
        transform: scaleY(1);
        transition: transform .5s ease, height .2s;
    }

    .nav-bar a::after,
    .nav-bar a:hover::after {
        background: none;
    }

    .nav-bar .btnLogin-popup {
        width: 100px;
        height: 40px;
        border: 1px solid #112a3b;
    }
    
    #check:checked ~ .nav-bar {
        display: block;
    }

    div main {
        margin-top: 18vh ;
        font-size: 16px;
        /* height: auto;
        min-height: calc(100vh - 378px - 42px); */
    }

}

/* untuk screen desktop (lebih dari 800px) */
@media only screen and (min-width: 800px) {
}
