/*style the header*/
/* .myLogo {
    display: flex;
    justify-content: flex-start;
    background-color: #f8d1f6;
    color: #141E46;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}* masih belom bisa */

/* styling body*/
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E5E8EB;
}

/* styling kelas navigasi*/
.topNav {
    overflow: hidden;
    background-color: #E5E8EB;
}

/* styling kelas topnav h1 yg login */
.topNav h1 {
    float: left;
    display: flex;
    color: #a00a0a;
    text-align: left;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 20px;
}

/* untuk memberi efek ketika kelas bagian login ditunjuk*/
.topNav h1:hover {
    color: #cf6c6c;
    cursor: pointer;
}

/* style untuk kelas bagian daftar favorit dan search area */
.topNav h3,
.topNav input[type=text] {
    float: right;
    display: flex;
    color: #1C3434;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 16px;
}

/* untuk memberi efek ketika kelas topnav h3 ditunjuk*/
.topNav h3:hover {
    color: rgb(115, 126, 163);
    cursor: pointer;
}

/* untuk input text disearch box */
.topNav input [type=text] {
    font-size: 16px;
    border: none;
}

/* kelas search area */
.searchBox {
    position: absolute;
    top: 420px;
    left: 50%;
    transform: translateX(-50%);
}

/* kelas tombol search */
.searchBox button {
    padding: 2px 10px;
    background-color: #486666;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
}

/* id untuk login checkbox */
#masuk {
    background-color: #E5E8EB;
    justify-content: flex-end;
    margin-left: 10px;
}

.mainPage {
    position: relative;
    text-align: center;
    color: rgb(207, 106, 106);
}

/* untuk menambah tulisan digambar */
.quote,
.topNav input {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* agar gambar bisa reponsive sesuai uk layar */
.responsive {
    width: 100%;
    height: auto;
}

footer {
    background-color: #1C3434;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bolder;
}