/*style the header*/
/*
.myLogo {
    display: flex;
    justify-content: flex-start;
    background-color: #f8d1f6;
    color: #141E46;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}* masih belom bisa/

/* styling top navigation bar */
body {
    /* margin: 0; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topNav {
    overflow: hidden;
    background-color: #E5E8EB;
}

.topNav h1 {
    float: left;
    display: block;
    color: #588b5a;
    text-align: left;
    padding: 2px 25px;
    text-decoration: none;
    font-size: 16px;
}

.topNav h1:hover {
    color: #162727;
}

.topNav h3 {
    float: right;
    display: block;
    color: #a00a0a;
    text-align: center;
    padding: 2px 25px;
    text-decoration: none;
    font-size: 16px;
}

.topNav h3:hover {
    color: #cf6c6c;
}

.topNav .searchBox {
    float: right;
    padding: 16px;
}

.topNav input [type=text] {
    font-size: 16px;
    border: none;
}

.myDiv {
    background-color: #E5E8EB;
    padding: 30px;
    text-align: center;
    font-size: 18px;
    color: #FFDE59;
}

/* agar gambar bisa reponsive sesuai uk layar */
.responsive {
    width: 100%;
    height: auto;
}

.footer {
    color: #FFDE59;
    background-color: #1C3434;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}