/*style the header*/
.myDiv {
    background-color: #141E46;
    padding: 30px;
    text-align: center;
    font-size: 18px;
    color: #f8d1f6;
}

/*
.myLogo {
    display: flex;
    justify-content: flex-start;
    background-color: #f8d1f6;
    color: #141E46;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}*/

.myHeader {
    display: flex;
    justify-content: space-between;
    background-color: #f8d1f6;
    color: #141E46;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.myMenu {
    display: flex;
    background-color: #141E46;
    color: pink;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}